body{
    background-color: black;
}
h1{
    color: aqua;
}
table{
    width:400px;        /* 表の幅*/
    height: 800px;      /*表の高さ*/
    /*中央揃えにする*/
    margin-left: auto;
    margin-right: auto;
}
td{
    width: 10%;
    height: 5%;
    background-color: #455a64;
}
.i{
    background-color: cyan;
}
.o{
    background-color: yellow;
}
.t{
    background-color: purple;
}
.s{
    background-color: green;
}
.z{
    background-color: red;
}
.j{
    background-color: blue;
}
.l{
    background-color: orange;
}